:root {
    --brand-color: #FF3F62;
    --muted-text-color: #6a6a6a;

    --title-bar-height: 80px;
    --search-bar-height: 66px;
    --icons-bar-height: 90px;

    --std-page-padding-1: 80px;
    --std-page-padding-2: 40px;

    --search-btn-side: 48px;


    --header-height: 168px;
}

.text-brand-color {
    color:var(--brand-color)
}

#header-section {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.header-height {
    height: var(--header-height);
}

#title-bar {
    height: var(--title-bar-height)
}

.padding-sub-title {
    padding: 0 24px;
}

/* changes with media querry */
.std-inline-padding {
    padding-inline-start: var(--std-page-padding-1);
    padding-inline-end: var(--std-page-padding-1);
}

.padding_1_1 {
    padding-left: 20px;
    padding-right: 20px;
}

.height_1_1 {
    height:44px;
}

.line-height-1_1 {
    line-height: 44px;
}

.line-height-1_2 {
    line-height: 40px;
}

.br-1_1 {
    border-radius: 22px;
}

.btn-hover:hover {
    background-color: rgb(0,0,0,0.05);
    color: black;
}

.btn-hover-2:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
    transition: box-shadow 0.1s ease-in;
} 
.btn-focus {
    font-weight: 600;
    color: black !important;
}

.font-size-1 {
    font-size: 16px;
}

.font-size-2 {
    font-size: 14px;
}
.world-icon-size {
    height: 16px;
    width: 16px;
}

.profile-icon-size {
    height: 32px;
    width: 32px;
}

.br-1_2 {
    border: 0.8px solid #e3e3e3;
}

.height_1_2{
    height: 48px;
}

.padding_1_2 {
    padding-left: 8px;
    padding-right: 8px;
}

.padding_1_3 {
    padding-left: 16px;
    padding-right: 16px;
}

.pos-1_2 {
    position: relative;
    left: 10px;
    word-break:keep-all ;
}

.m-1_2 {
    margin-right: 4px;
}

#title-img-id {
    height: 32px;
    width: 102px;
    background-image: url('../../assets/images/title-icon-full.svg');
}

@media only screen and (max-width: 1100px) {
    .std-inline-padding {
        padding-inline-start: var(--std-page-padding-2);
        padding-inline-end: var(--std-page-padding-2);
    }
    
    #title-img-id {
        width: 30px;
        background-image: url('../../assets/images/title-icon.svg');
    }


}

.title-sub-part-1-w {
    width: 32.66%;
}

.title-sub-part-2-w {
    width: 34.68%;
}

.muted-color {
    color: var(--muted-text-color);
}

#bar-1-2 {
    visibility: hidden;
    position: absolute;
}

#bar-1-1 {
    visibility: visible;
}

.title-bar-2proxy {
    height: 61px;
    width: 100%;
    position: absolute;
}

@media  only screen and (max-width: 950px) {
    #bar-1-1 {
        visibility: hidden;
        font-size: 14px;
    }

    #bar-1-2 {
        visibility: visible;
        position: absolute;
        top: -19px;
    }

    .title-sub-part-1-w {
        width: 50%;
    }

    .title-sub-part-2-w {
        width: 0%;
    }

    .title-bar-2proxy {
        position: relative;
    }

    :root {
        --header-height : 240px;
    }
}

.title-bar-2-hw {
    height: 80px;
    width: 100%
}

.search-bar-dim {
    width: 88.84%;
    max-width: 850px;
}

.search-box-shadow {
    box-shadow: 0 3px 12px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.08);
}

.search-border {
    border-radius: 33px 33px;
    border: 1px solid #DDDDDD;
}

.search-btn-wrapper {
    width: var(--search-btn-side);
    height: var(--search-btn-side);
    border-radius: 50%;
    background-color: var(--brand-color);
}

.pr-1-1{
    padding-right: 9px;
}

.search-sym-dims{
    height: 16px;
    width: 16px;
}

.search-3-1-padding {
    padding: 14px 32px 14px 32px;
}

.font-3-1-1 {
    font-weight: 500;
    font-size: 12px;
}

.font-3-1-2 {
    font-weight: 500;
    font-size: 14px;
    color: rgb(123,123,123);
    height: 18px;
}

.highlight-border-1-1 {
    border-radius: 33px;
}

.highlight-effect-1-1 {
    background-color: white;
}

.highlight-effect-1-1:hover {
    background-color: rgba(235,235,235,255);
}

.search-bar-height {
    height: 66px;
}

.header-border {
    border-bottom: 0.8px solid rgb(235, 235, 235);
}

.search-3-2-padding {
    padding: 14px 24px 14px 24px;
}

.search-bar-1-2w {
    width: 48px;
} 

.search-bar-1-1w {
    width: calc(100% - 48px);
}

.search-mr {
    margin-right: 7px;
}

.search-spacers {
    height: 32px;
    border-right: 0.8px solid rgb(221, 221, 221);
    width: 0.8px;
    box-sizing: border-box;
}

.search-bar-semi-widths {
    width: calc(50% - 0.8px);
}

.header-background {
    background-color: white;
}